<div class="contenedor-global">
    <div>
        <h1>Razas de Perros</h1>
        <input [(ngModel)]="query" type="text" class="form-css" placeholder="Filtrar por termino">
    </div>

    <div class="contenedor-resultados">
        <div class="contenedor-card animated fadeIn fast" *ngFor="let raza of razas | search: query; let i = index">
            <img [src]="raza.img" [alt]="raza.nombre">
            <div class="contenido-card">
                <h5 class="titulo-card">{{ raza.nombre }}</h5>
                <p>{{ (raza.info.length>70)? (raza.info | slice:0:70)+'...':(raza.info)}}</p>

                <a [routerLink]="['/busqueda',raza.id]" class="button">
                        Ver Info
                </a>
            </div>
        </div>
    </div>



    <div *ngIf="(razas | search: query)?.length===0 && !loading" class="alert alert-info" role="alert">
        <strong>Lo sentimos</strong>, no se han encontrado razas con el termino ingresado.
    </div>

    <div *ngIf="loading" class="alert alert-warning" role="alert">
        <strong>Cargando...</strong> por favor espere.
    </div>
</div>