// Fuentes
// Colores
$primary: #208601;
$primary-hover: #135300;
// Tamaños de Media Queries
// Width para telefonos
$phone-min-width: 320px !default;
$phone-max-width: 504px !default;
// Height para telefonos
$phone-min-height: 346px !default;
$phone-max-height: 695px !default;
// width para tablet
$tablet-min-width: 480px !default;
$tablet-max-width: 1024px !default;
// height para tablet
$tablet-min-height: 800px !default;
$tablet-max-height: 1440px !default;
// width para escritorio
$desktop-min-width: 1024px !default;
// height para escritorio
$desktop-min-height: 768px !default;
$desktop-max-height: 1280px !default;