@import "../../../assets/scss/_mixins";
@import "../../../assets/scss/_theme";
.contenedor-global {
    display: grid;
    grid-template-areas: "titulo" "form" "contacto" "map";
    grid-gap: .8rem;
    margin: 0 auto;
}

.titulo {
    grid-area: titulo;
}

.form {
    grid-area: form;
    a {
        color: red;
        font-weight: bold;
    }
}

.contacto {
    grid-area: contacto;
    h5 {
        color: $primary;
        font-weight: bold;
        font-size: 1rem;
    }
    h3 {
        border-top: 1px dotted #8c8b8b;
        border-bottom: 1px dotted #fff;
    }
    hr {
        border: 0;
        border-bottom: 1px dashed #ccc;
        background: #999;
    }
}

.contenedor-map {
    grid-area: map;
    h3 {
        text-align: center;
        padding-bottom: .5rem;
    }
    hr {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    }
}

.form-css {
    @include input-select;
}

.button {
    @include button($primary);
    display: block;
    width: 100%;
}

agm-map {
    height: 300px;
    max-height: 100%;
}

@include tablet {
    .contenedor-global {
        grid-template-areas: "titulo titulo" "form contacto" "map map";
        grid-template-columns: 60% 40%;
        grid-gap: .5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .titulo {
        grid-area: titulo;
        padding: 0.5rem;
    }
    .form {
        grid-area: form;
        padding: 0.5rem;
    }
    .contacto {
        grid-area: contacto;
        padding: 0.5rem;
        align-content: center;
    }
    .contenedor-map {
        grid-area: map;
        padding: 0.5rem;
    }
}

@include desktop {
    .contenedor-global {
        grid-template-columns: 70% 30%;
    }
}