<div class="contenedor-global">
    <div class="titulo">
        <h1>Administrar Razas de Perros</h1>
        <hr>
        <input [(ngModel)]="query" type="text" class="form-css" placeholder="Filtrar por termino">
        <button [routerLink]="['/admin', 'nuevo']" class="btn btn-outline-success" type="button" name="button">
            Nueva raza
        </button>
    </div>
    <br>


    <table class="animated fadeIn fast">
        <thead class="">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Pais</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let k of razas | keys; let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ razas[k].nombre }}</td>
                <td>{{ razas[k].pais }}</td>
                <td>
                    <button [routerLink]="['/admin',k]" class="btn btn-outline-primary" type="button" name="button">
                    Editar
                  </button>

                    <button (click)="eliminarRaza(k)" class="btn btn-outline-danger" type="button" name="button">
                    Eliminar
                  </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="(razas | keys ).length===0 && !loading" class="alert alert-info" role="alert">
        <strong>No hay</strong> razas registradas.
    </div>

    <div *ngIf="loading" class="alert alert-warning" role="alert">
        <strong>Cargando...</strong> por favor espere.
    </div>
</div>