<div class="jumbotron jumbotron-fluid">

    <div class="container">
      <h1>Perros.com</h1>
      <p class="lead">Aplicación de prueba que muestra distintas razas de perros.</p>
      
      La Página contiene:
      <ul>
        <li>Lazy Loading</li>
        <li>Filtro de busqueda</li>
        <li>Formulario CRUD</li>
        <li>Peticiones HTTP a FireBase</li>
      </ul>
  
      Cosas por hacer:
      <ul>
        <li>Gráficos</li>
        <li>Autenticación</li>
      </ul>
      
    </div>
  
  </div>