.contenedor {
    max-width: 1100px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}


/* Hero Image*/

.hero {
    background-image: url('../../../assets/img/perro.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .contenedor {
    display: grid;
    align-content: center;
    height: 100vh;
}

.hero .contenedor {
    text-align: center;
    color: var(--claro)
}

.titulo {
    margin: 0;
    color: #fff;
    -webkit-text-stroke: 1px black;
}

.subtitulo {
    font-size: 2rem;
    color: #fff;
    -webkit-text-stroke: 1px black;
}