<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div class="principal-hero">
            <div class="hero">
                <div class="contenedor">
                    <div class="contenido">
                        <h1 class="titulo">Perros.com</h1>
                        <p class="subtitulo">Conoce al mejor amigo del hombre</p>
                        <button class="btn btn-primary">Conoce las razas</button>
                    </div>
                </div>
            </div>
        </div>
    </header>

</body>

</html>