/* Hero Image*/

.hero {
    background-image: url('../../../assets/img/perro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.hero .contenedor {
    display: grid;
    align-content: center;
    height: 100vh;
}

.hero .contenedor {
    text-align: center;
    color: var(--claro)
}

.titulo {
    margin: 0;
    color: #fff;
    -webkit-text-stroke: 1px black;
}

.subtitulo {
    font-size: 2rem;
    color: #fff;
    -webkit-text-stroke: 1px black;
}